.container{

    width: 90%;

    max-width: 1200px;

    margin: 0 auto;

}

.header{

    background: white;
 border-bottom: 1px solid #e5ded0;
    padding: 18px 0;
 position: sticky;
 top: 0;
  z-index: 100;
}

.header-inner{

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr auto 1fr;

    align-items: center;

}

.logo{
    font-family: "Sora", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #264653;
}

.nav-links{
    display: flex;
    gap: 35px;
    justify-self: center;
}

.nav-links a{

    font-family: "Inter", sans-serif;

    font-size: 16px;

    font-weight: 500;

    color: #666666;

    text-decoration: none;

    transition: color 0.3s ease;

}

.nav-links a:hover{

    color: #2A9D8F;

}

.btn-primary{

    background: #2A9D8F;

    color: #FFFFFF;

    font-family: "Inter", sans-serif;

    font-size: 16px;

    font-weight: 600;

    padding: 12px 24px;

    border: none;

    border-radius: 8px;

    text-decoration: none;

    display: inline-block;

    transition: background-color 0.3s ease;

}

.btn-primary:hover{

    background: #238579;

}

.btn-primary{

    justify-self: end;

}

.logo{

    font-family: "Sora", sans-serif;

    font-size: 1.8rem;

    font-weight: 700;

    color: #264653;

    text-decoration: none;

    letter-spacing: 0.5px;

    transition: color 0.3s ease;

}

.logo:hover{

    color: #2A9D8F;

}



.hero{
    padding: 20px 0;
    min-height: 400px;
}


.hero-card{

    width: 100%;
    min-height: 400px;

    background: #ffffff;

    border: 2px solid #1f1f1f;

    border-radius: 4px;

    display: grid;

    grid-template-columns: 1fr 1fr;
    overflow: hidden;

}

.hero-text{

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: flex-start;

    padding: 40px;

}

.hero-title{

    font-family: "Sora", sans-serif;
    font-weight: 700;
    line-height: 1.05;
    color: #111111;
    margin-bottom: 5px;
   font-size: 50px;
line-height: 1.1;
max-width: 450px;

}

.hero-desc{

    font-family: "Inter", sans-serif;

    font-size: 22px;

    line-height: 1.7;

    color: #555555;

    margin-bottom: 40px;

    max-width: 500px;

}
.hero-buttons{

    display: flex;

    gap: 16px;

}

.btn-secondary{

    text-decoration: none;

    background: #000000;

    color: #ffffff;

    font-family: "Inter", sans-serif;

    font-size: 16px;

    font-weight: 600;

    padding: 12px 24px;

    border-radius: 8px;

    transition: 0.3s;

}

.hero-image{

    background: #dddddd;

    display: flex;

    justify-content: center;

    align-items: center;

}

.hero-image img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.features{

    padding: 100px 0;

}

.section-header{

    text-align: center;

    margin-bottom: 40px;

}


.section-label{

    font-family: "Inter", sans-serif;

    font-size: 15px;

    color: #444;

}

.section-title{

    font-family: "Sora", sans-serif;

    font-size: 52px;

    font-weight: 700;

    color: #111;

    margin: 20px 0;

}

.section-subtitle{

    font-family: "Inter", sans-serif;

    font-size: 18px;

    color: #666;

}

.features-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}


.feature-card{

    border:1px solid #d8d8d8;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    min-height:520px;

    overflow:hidden;

}



.feature-content{

    padding:30px;

    display:flex;

    flex-direction:column;

    gap:2px;

}

.feature-label{

    font-family:"Inter",sans-serif;

    font-size:14px;

    color:#555;

}

.feature-title{

    font-family:"Sora",sans-serif;

    font-size:38px;

    font-weight:700;

    color:#111;

    line-height:1.2;

}


.feature-desc{

    font-family:"Inter",sans-serif;

    font-size:17px;

    line-height:1.7;

    color:#555;

}

.feature-link{

    text-decoration:none;

    color:#111;

    font-family:"Inter",sans-serif;

    font-weight:600;

}

.feature-image{

    height:220px;

    background:#ececec;

}

.feature-image img{

    width:100%;

    height:100%;

    object-fit:cover;

    display:block;

}


.about{

    padding: 100px 0;

}


.about-grid{

    display: grid;

    grid-template-columns: 1fr 1fr;

    align-items: center;

    gap: 80px;

}


.about-content{

    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 22px;

}


.about-label{

    font-family: "Inter", sans-serif;

    font-size: 14px;

    font-weight: 600;

    color: #444444;

}

.about-title{

    font-family: "Sora", sans-serif;

    font-size: 54px;

    font-weight: 700;

    line-height: 1.1;

    color: #111111;

    margin: 20px 0;

}


.about-desc{

    font-family: "Inter", sans-serif;

    font-size: 18px;

    line-height: 1.8;

    color: #555555;

    max-width: 520px;

    margin: 20px 0;

}



.about-buttons{

    display: flex;

    gap: 18px;

    margin-top: 10px;

}

.about-buttons .btn-secondary{

    text-decoration: none;

    padding: 12px 24px;

    border: 1px solid #d9d9d9;

    color: #ffffff;

    border-radius: 8px;
    width :80px;

    font-family: "Inter", sans-serif;

    font-weight: 600;
    display : flex;
    justify-content : center;

}

.about-buttons a:last-child{

    border: none;

    padding: 12px 0;

}


.about-image{

    width: 100%;

    height: 560px;

    overflow: hidden;

}


.about-image img{

    width: 100%;

    height: 100%;

    object-fit: cover;

    display: block;

}




.testimonials{

    padding:100px 0;

}

.testimonials-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:24px;

}

.testimonial-card{

    border:2px solid #111111;

    padding:28px;

    min-height:260px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    background:#ffffff;

}


.stars{

    font-size:24px;

    color:#111111;

    letter-spacing:4px;

    margin-bottom:24px;

}

.testimonial-text{

    font-family:"Inter",sans-serif;

    font-size:18px;

    line-height:1.7;

    color:#333333;

    margin-bottom:40px;

}

.testimonial-author{

    display:flex;

    align-items:center;

    gap:16px;

}

.author-avatar{

    width:60px;

    height:60px;

    border-radius:50%;

    overflow:hidden;

    background:#e5e5e5;

    flex-shrink:0;

}

.author-avatar img{

    width:100%;

    height:100%;

    object-fit:cover;

    display:block;

}

.author-info{

    display:flex;

    flex-direction:column;

}

.author-name{

    font-family:"Sora",sans-serif;

    font-size:18px;

    font-weight:600;

    color:#111111;

    margin-bottom:4px;

}

.author-job{

    font-family:"Inter",sans-serif;

    font-size:15px;

    color:#666666;

}



.contact{
    padding:100px 0;
}

.contact-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:80px;
    align-items:center;
}

.contact-content{
    display:flex;
    flex-direction:column;
}

.contact-label{
    font-family:"Inter",sans-serif;
    font-size:14px;
    color:#555;
    margin-bottom:15px;
}

.contact-title{
    font-family:"Sora",sans-serif;
    font-size:54px;
    font-weight:700;
    color:#111;
    margin-bottom:20px;
}

.contact-subtitle{
    font-family:"Inter",sans-serif;
    font-size:18px;
    color:#666;
    margin-bottom:40px;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:22px;
}

.form-label{
    display:block;
    margin-bottom:8px;

    font-family:"Inter",sans-serif;
    font-size:15px;
    font-weight:500;
    color:#222;
}

.form-input{
    width:100%;

    padding:14px 16px;

    border:1px solid #000000;

    border-radius:2px;

    font-size:16px;

    font-family:"Inter",sans-serif;

    outline:none;

    transition:0.3s;
}

.form-input:focus{
    border-color:#2A9D8F;
}

.form-textarea{
    resize:none;
    height:180px;
}

.contact-submit{
    width:140px;

    padding:14px 24px;

    background:#2A9D8F;

    color:white;

    border:none;

    border-radius:8px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.contact-submit:hover{
    background:#238579;
}

.contact-image{
    width:100%;
    height:620px;

    background:#ececec;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;
}

.contact-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}



.footer{
    padding:80px 0 40px;
    background:#ffffff;
}

.footer .container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.footer-logo{
    text-decoration:none;

    font-family:"Sora",sans-serif;
    font-size:38px;
    font-weight:700;

    color:#264653;

    margin-bottom:40px;

    transition:0.3s;
}

.footer-logo:hover{
    color:#2A9D8F;
}

.footer-nav{
    display:flex;
    gap:40px;

    margin-bottom:70px;
}

.footer-nav a{
    text-decoration:none;

    font-family:"Inter",sans-serif;
    font-size:16px;
    font-weight:500;

    color:#222;

    transition:.3s;
}

.footer-nav a:hover{
    color:#2A9D8F;
}

.footer-bottom{
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding-top:35px;

    border-top:1px solid #d9d9d9;
}

.footer-copyright{
    font-family:"Inter",sans-serif;
    font-size:15px;
    color:#555;
}

.footer-links{
    display:flex;
    gap:30px;
}

.footer-links a{
    font-family:"Inter",sans-serif;
    font-size:15px;

    color:#555;

    text-decoration:underline;

    transition:.3s;
}

.footer-links a:hover{
    color:#2A9D8F;
}


@media (max-width:768px){

    .hero-card{
        grid-template-columns:1fr;
    }

    .features-grid{
        grid-template-columns:1fr;
    }

    .about-grid{
        grid-template-columns:1fr;
    }

    .contact-grid{
        grid-template-columns:1fr;
    }

    .testimonials-grid{
        grid-template-columns:1fr;
    }

    .footer-bottom{
        flex-direction:column;
        gap:20px;
        text-align:center;
    }

}